---
import AuthLayout from "#layouts/AuthLayout.astro";


---

<AuthLayout title="oAuth insecure | Neopathways">
	<div class="flex flex-col items-center justify-center h-full text-center p-4">
		<h1 class="text-6xl font-bold mb-8">Insecure</h1>
		<p class="text-lg text-gray-400">The service you were trying to register with used <strong>invalid</strong> or <strong>insecure</strong> data. We have therefore blocked your data from getting leaked to an insecure service.</p>
	</div>
</AuthLayout>