---
import AuthLayout from "#layouts/AuthLayout.astro";


---

<AuthLayout title="Login | Neopathways">
	<div class="border border-base-200 max-w-lg w-full rounded-lg flex flex-col gap-4 p-16 prose prose-base">
		<h1 class="mb-0">Log in</h2>
		<p class="text-gray-500 ">Log in to your Neopathways account to manage your data and connected organizations.</p>
		<label class="form-control w-full">
			<div class="label">	
				<span class="label-text font-semibold">Email</span>
			</div>
			<input type="email" placeholder="Email" class="input input-bordered">
		</label>
		<label class="form-control w-full">
			<div class="label">	
				<span class="label-text font-semibold">Password</span>
			</div>
		<input type="password" placeholder="********" class="input input-bordered">
		</label>
		<button class="btn btn-primary">Log in</button>
		<div class="flex flex-row justify-between">
			<a href="/auth/signup" class="link text-sm">Don't have an account?</a>
			<a href="/auth/forgot-password" class="link text-sm">Forgot password?</a>
		</div>
	</div>
</AuthLayout>