---
import AuthLayout from "#layouts/AuthLayout.astro";


---

<AuthLayout title="404 Not found | Neopathways">
	<div class="flex flex-col items-center justify-center h-full text-center">
		<h1 class="text-8xl font-bold mb-8">404</h1>
		<p class="text-lg text-gray-400">Seems like we couldn't find a path there. You might have to look somewhere else...</p>
		<a href="/" class="btn btn-ghost mt-8">Go Home</a>
	</div>
</AuthLayout>