---
import ProfileSidebar from '#components/ProfileSidebar.svelte';

interface Props {
	title: string;
}

const light = Astro.cookies.get("light")?.value === "true";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="grid grid-cols-[auto,5fr] grid-rows-[auto] h-screen">
		<ProfileSidebar client:load light={light}></ProfileSidebar>
		<main class="px-12 py-8 prose prose-base max-w-full h-full bg-base-100">
			<slot />
		</main>
	</body>
</html>
